body{
  background-image: url('https://ane4bf-datap1.s3-eu-west-1.amazonaws.com/wmocms/s3fs-public/advanced_page/featured_media/Coronavirus_Covid-19.png?vCjLR.RArC5_6o55iUgPMiFGiHw4P2ne')
}

.card0{
  width: 250px;
  height: 150px;
  justify-content: center;
  background-color:rgb(0, 81, 255);
display: flex;
}
.card_a{
  justify-content: center;
  text-align: center;
  margin: 2px;
  padding: 20px;
  border-radius: 10px;
  border-width: px;
  font-size: 25px  ;
  width: 175px;
  height: 200px;
  border-color: black;
  font-weight: bold;
  background-color:rgb(25, 209, 194);
  color: rgb(255, 255, 255);
}

.card_b{
  font-size: 25px  ;
  text-align: center;
  margin: 2px;
  padding: 20px;
  border-radius: 10px;
  border-width: px;
  width: 175px;
  height: 200px;
  border-color: black;
  font-weight: bold;
  background-color:rgb(10, 10, 10);
  color: rgb(255, 255, 255);
}

.card_c{
  font-size: 25px ;
  text-align: center;
  margin: 2px;
  padding: 20px;
  border-radius: 10px;
  border-width: px;
  width: 175px;
  height: 200px;
  border-color: black;
  font-weight: bold;
  background-color:rgb(57, 192, 16);
  color: rgb(255, 255, 255);
}

.container{
  justify-content: center;
  text-align: center;  
  display: flex;
  margin: 35px;
}
